@import "./variables";

h1,
title {
  font-family: $bebas;
  color: $dark-gray;
  font-size: 8rem !important;
  margin: 0;
}

h3,
subtitle {
  font-style: italic;
  font-size: 1.75rem;
  font-weight: 100;
  margin: 0;
  padding-bottom: 2rem;
  color: $dark-gray;
}

h5 {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: $dark-gray;
  text-align: center;
  max-width: 60rem;
}
