@import "../../../styles/variables";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  &__tag {
    align-items: center;
    background-color: $light-gray;
    border-radius: 4px;
    color: $dark-gray;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    margin: 0.2rem;
    white-space: nowrap;
  }
}
